.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(15, 81, 144, 0.5)), url('https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}
.login-title{
    font-size: 50px;
    font-family: 'Varela', sans-serif;
    color: #fff;
    letter-spacing: 5px;
}
.login-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.login-form label{
    margin: 10px 0ex;
    font-family: 'Varela', sans-serif;
    color: #fff;
    font-size: 18px;
}
.login input{
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(11, 68, 104);
    font-size: 16px;
    
}
.login input:focus{
    outline: none;
}
.login input::placeholder{
    color: rgba(255, 255, 255, 1);
}
.login-button{
    margin-top: 20px;
    cursor: pointer;
    background-color: #366d74;
    border:none;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    font-family: 'Varela', sans-serif;
    border-radius: 10px;
}
.login-register-button{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(26, 202, 238, 0.5);
    border: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    font-family: 'Varela', sans-serif;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 10px;
}